body {
  background-image: url("https://image.ibb.co/gUxSTH/color4.png");
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

#main-map {
  height: 300px;
  width: 100%;
}

#second-map {
  height: 250px;
  width: 250px;
}

h2 {
  text-decoration: underline;
}

#column-container {
  text-align: center;
  margin: auto;
  width: 600px;
}

#column-chart {

}
